<!--
    ***** Main Banner Area Start *****
    <!-- <div class="page-heading" id="top">
      <div class="container">
          <div class="row">
              <div class="col-lg-12">
                  <div class="inner-content">
                      <h2>Single Product Page</h2>
                      <span>Awesome &amp; Creative HTML CSS layout by TemplateMo</span>
                  </div>
              </div>
          </div>
      </div> -->
  <!-- </div> -->
  <!-- ***** Main Banner Area End ***** -->


  <!-- ***** Product Area Starts ***** -->
  <section class="section" id="product">
      <div class="container">
          <div class="row">
              <div class="col-lg-7">
              <div class="left-images">
                  <!-- <img src="images/single-product-01.jpg" alt="product Image"> -->
                  <img class="img-fluid  img-thumbnail product-img"  [src]="imgDomain+product.cover" alt="product Image">


                @if(product.images){
                  <div id="carouselExampleControls" class="carousel slide col-lg-9" data-ride="carousel" #carouselElement>
                    <div class="carousel-inner">

                      <div class="carousel-item active" *ngFor="let img of product.images">
                        <img class="d-block w-100 " [src]="imgDomain+img" alt="First slide">
                        <!-- <img class="d-block w-100 " src="" alt="First slide"> -->
                      </div>
                    <!-- } -->
                    </div>
                    <a class="carousel-control-prev" role="button" (click)="prevSlide(carouselElement)">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" role="button" (click)="nextSlide(carouselElement)">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                  </div>
                }
                </div>





          </div>
          <div class="col-lg-5 mt-5">

              <div class="right-content">
                  <h4>{{product.name}}</h4>
                  <span class="price">EGP {{product.price}}</span>

                  <ul class="stars">
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                  </ul>
                  <span>{{product.description}}</span>
                  <div class="quote">
                      <i class="fa fa-quote-left"></i><p>{{product.subcategory?.name}}</p>
                  </div>
                  <div class="quantity-content">
                      <div class="left-content">
                          <h6>No. of Orders</h6>
                      </div>
                      <div class="right-content">
                          <div class="quantity buttons_added">
                              <input type="button" value="-" class="minus"><input type="number" step="1" min="1" max="" name="quantity" value="1" title="Qty" class="input-text qty text" size="4" pattern="" inputmode=""><input type="button" value="+" class="plus">
                          </div>
                      </div>
                  </div>
                  <div class="total">
                      <h4>Total: EGP {{product.price}}</h4>
                      <div class="main-border-button hover"><a (click)="addToCart(product._id?.toString()!)">Add To Cart</a></div>
                  </div>
              </div>







              <div class="review-container">
                <!-- Review Title and Average Rating -->
                <div class="review-header-section">
                  <h2 class="review-title">Reviews</h2>

                  <div class="average-rating">
                    <span class="avg-rating-value">4.5</span>
                    <ul class="stars">
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star-half-o"></i></li>
                    </ul>
                  </div>
                </div>
                <hr>


                <!-- for loop -->
                <!-- Review Section -->
                <div class="review">
                  <div class="review-header">
                    <!-- User's Image -->
                    <img src="https://via.placeholder.com/50" alt="User Image" class="user-image">

                    <!-- User's Name and Star Rating -->
                    <div class="user-info">
                      <h4 class="user-name">John Doe</h4>
                      <ul class="stars">
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star-o"></i></li>
                      </ul>
                    </div>
                  </div>

                  <!-- Review Text -->
                  <p class="user-review">
                    This product is amazing! I have been using it for a week now, and I am very satisfied with the performance. Will definitely recommend it to others.
                  </p>
                </div>
              </div>







          </div>
          </div>
      </div>

















  </section>
  <!-- ***** Product Area Ends ***** -->
