  <!-- ***** Main Banner Area Start ***** -->
  <div class="page-heading" id="top">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="inner-content">
                    <!-- <h2>Check Our Products</h2>
                    <span >Awesome &amp; Creative HTML CSS layout by TemplateMo</span> -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ***** Main Banner Area End ***** -->


<!-- ***** Products Area Starts ***** -->
<section class="section" id="products">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading">
                    <h2>Our Latest Products</h2>
                    <span>Check out all of our products.</span>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
          @for(prod of products; track prod._id){
            <div class="col-lg-3">
                <div class="item">
                    <div class="thumb">
                        <div class="hover-content">
                            <ul>
                                <li><a href="single-product.html"><i class="fa fa-eye"></i></a></li>
                                <li><a href="single-product.html"><i class="fa fa-star"></i></a></li>
                                <li><a href="single-product.html"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <img  [src]="imagDomain+prod.images" alt="Product Image">
                    </div>
                    <div class="down-content">
                        <h4>{{prod.name}}</h4>
                        <span>EGP {{prod.price}}</span>
                        <ul class="stars">
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
          }

            <div class="col-lg-12">
                <div class="pagination">
                    <ul>
                      
                    @if(pagination.currentPage! > 1 ){
                      <li>
                        <a >< </a>
                      </li>
                    }
                    @if(pagination.prev! >= 1 ){
                    <li (click)="changePage(pagination.prev!)">
                      <a >{{pagination.prev}}</a>
                    </li>
                  }
                        <li  class="active" (click)="changePage(pagination.currentPage!)">
                            <a >{{pagination.currentPage}}</a>
                        </li>
                        <!-- @if(pagination.next === pagination.totalPage){ -->
                          <li (click)="changePage(pagination.next!)" >
                              <a >{{pagination.next}}</a>
                          </li>
                        <li >
                            <!-- <a href="#">></a> -->
                            <a  (click)="changePage(pagination.next!)" >></a>
                        </li>
                      <!-- } -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Products Area Ends ***** -->


