 <!-- Start Login -->
 <div class="content-login" id="media-query">
  <form [formGroup]="ForgetPasswordForm"  (ngSubmit)="ForgetPassword(ForgetPasswordForm)">
      <h1 class="login">Forget Password</h1>
      <div class="mb-3">
        <label for="username" class="form-label">verify Code</label>
        <input type="text" class="form-control" id="username" formControlName="email">
        @if(ForgetPasswordForm.get('email')?.touched){
          @if(ForgetPasswordForm.get('email')?.errors?.['required']){
            <p class="text-danger">Code Required</p>
          }
          @if(ForgetPasswordForm.get('email')?.errors?.['email']){
            <p class="text-danger">Invalid Email</p>
          }
        }
      </div>

      <button type="submit" [disabled]="ForgetPasswordForm.invalid" class="btn btn-primary submit">Submit</button>
    </form>
  </div>

<!-- End Login -->

