<div class="main-container">
  <div class="big-container">
    @for(item of productCart; track item._id){
      <div id="cardContainer" class="card-content" id="card-container">
          <div class="card">
            @if(item?.cover){
              <img class="img-fulid " id="img-size" [src]="imgDomain+item?.cover" alt="Product Image" width="200">
            }@else {
              <img src="images/download.png" id="img-size" alt="Product Image" width="200">
            }
              <div class="text">
                  <p class="product-name" [routerLink]="['/product', item?._id]">{{item?.name}}</p>
                  <p class="product-name" [routerLink]="['/product', item?._id]">{{item?.description|slice:0:20}}</p>
                  <p class="product-price">{{item?.price}} EGP</p>
              </div>
              <button class="remove-btn text-center" (click)="removeProduct(item._id)" id="edit">Remove</button>
          </div>
      </div>
    }
  </div>


  </div>


